/*-- theme for website --*/

.w3-theme {
    color: rgb(201, 197, 190) !important;
    background-color: #16151d !important
}

.w3-theme-red {
    color: #ffffff !important;
    background-color: #fc3955 !important;
}

.w3-theme-dark {
    color: rgb(201, 197, 190) !important;
    background-color: rgb(11, 10, 13) !important;
}

.w3-text-theme {
    color: #16151d !important
}

.w3-border-theme {
    border-color: #16151d !important
}

.w3-hover-theme:hover {
    color: #ffffff !important;
    background-color: #fc3955 !important;
    transition-duration: 1s;
}

.w3-hover-text-theme:hover {
    color: #16151d !important;
    transition-duration: 1s;
}

.w3-hover-border-theme:hover {
    border-color: #16151d !important;
    transition-duration: 1s;
}

/*-- /theme for website --*/

/*-- css from material login template --*/

.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

p.w3l-register-p {
    color: #eee;
    font-size: 13px;
    text-align: center;
    margin-top: 2em;
}

.w3l-login-form {
    background: rgba(0, 0, 0, 0.4117647058823529);
    max-width: 500px;
    margin: 0 auto;
    padding: 3em;
    border-radius: 10px;
    box-sizing: border-box;
}

.group {
    display: flex;
    padding: 15px 5px;
    background-color: #ffffff;
}

.group i {
    color: #fc3955;
    font-size: 20px;
    padding: 0 10px;
}

.w3l-form-group {
    margin: 20px 0;
}

.w3l-form-group label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: #d2d2d2;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-style: italic;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}

button {
    background: #fc3955;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}

button:hover {
    background-color: #00BCD4;
    transition-duration: 1s;
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

a {
    color: #eee;
    font-size: 14px;
    text-decoration: none;
}

.forgot p {
    color: #ffffff;
    text-align: center;
    margin: 0px;
    font-size: 13px;
}

.register {
    color: #00BCD4;
    text-decoration: none;
}

/*--footer--*/

p.copyright-agileinfo {
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 300;
}

footer p a {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
}

footer p a:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

footer {
    padding: 4em 0;
    text-align: center;
}

/*--//footer--*/

/*-- /responsive design --*/

@media (max-width: 667px) {
}

@media (max-width: 640px) {
    p.copyright-agileinfo {
        letter-spacing: 1px;
    }
}

@media (max-width: 568px) {

    p.copyright-agileinfo {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .w3l-login-form {
        margin: 0 3vw;
    }

    p.copyright-agileinfo {
        line-height: 1.8em;
    }
}

@media (max-width: 320px) {

    .forgot p {
        text-align: left;
    }

    .forgot {
        display: block;
    }
}

/*-- /responsive design --*/

/*-- /css from material login template --*/

/*-- materialize stuff for toast --*/

.toast {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}


#toast-container {
    display: block;
    position: fixed;
    z-index: 10000
}

#toast-container {
    display: block;
    position: fixed;
    z-index: 10000
}

@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 100%;
        bottom: 0%
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
        left: 5%;
        bottom: 7%;
        max-width: 90%
    }
}

@media only screen and (min-width: 993px) {
    #toast-container {
        top: 10%;
        right: 7%;
        max-width: 86%
    }
}

.toast {
    border-radius: 2px;
    top: 35px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default
}

.toast .toast-action {
    color: #eeff41;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem
}

.toast.rounded {
    border-radius: 24px
}

@media only screen and (max-width: 600px) {
    .toast {
        width: 100%;
        border-radius: 0
    }
}

/*-- /materialize stuff for toast --*/

/*-- custom classes and tag styles --*/

.center {
    margin-left: auto;
    margin-right: auto;
}

.fit-content {
    width: fit-content;
    width: -moz-fit-content;
}

h1, h2 {
    color: #fc3955;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

/*-- /custom classes and tag styles --*/