{% extends "base.html" %}

{% block content %}
    <div class="w3-center"><h1>{{ anime.name }}</h1></div>
    <div class="w3-row-padding w3-stretch w3-cell-row">
        <div class="w3-col l3 w3-cell">
            <img src="{{ anime.poster.url }}" alt="image" style="width: 100%">
        </div>
        <div class="w3-col l9 w3-cell w3-cell-middle w3-card-4 w3-theme-dark w3-round-large w3-padding">
            <h2>Synopsis</h2>
            {{ anime.synopsis }}
        </div>
    </div>

{% endblock %}