<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ara Ara</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    {% block head %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body class="w3-theme">
<div class="w3-container head">
    <h1>Head</h1>
</div>
{% if messages %}
    {% for message in messages %}
        <h3>{{ message }} </h3>
    {% endfor %}
{% endif %}
<div class="w3-container center fit-content w3-padding-large">
    {% block content %}
        {% if a == 1 %}
            <h1>This works</h1>
        {% else %}
            <h1>This really works</h1>
        {% endif %}
    {% endblock %}
</div>
</body>
</html>