{% extends 'base.html' %}

{% block content %}
    <div class="w3-panel w3-card-4 w3-padding w3-theme-dark w3-center w3-row-padding w3-stretch">
        <h1>Recommended</h1>
        {% for anime in animes %}
            <a href="{% url 'base' %}" class="w3-col w3-quarter w3-display-container">
                <div class="w3-theme w3-hover-theme-dark w3-card-2 w3-padding w3-margin-bottom tooltip">
                    <span class="tooltiptext w3-padding w3-ul">
                        <li><h4>Synopsis</h4></li>
                        <li>{{ anime.synopsis }}</li>
                    </span>
                    <img class="w3-image w3-margin-top" src="{{ anime.poster.url }}" alt="image"
                         style="max-height: 200px">
                    <h3>{{ anime.name }}</h3>
                    <div class="w3-display-hover w3-ul w3-justify">
                        <li>
                            <h5 class="w3-display-hover" style="display: inline">Status</h5>
                            : {{ anime.get_status_display }}
                        </li>
                        <li>
                            <h5 class="w3-display-hover" style="display: inline">Episodes</h5>
                            : {{ anime.aired_eps }} / {{ anime.total_eps }}
                        </li>
                        <li>
                            <h5 class="w3-display-hover" style="display: inline">Rating</h5>
                            : {{ anime.get_rating_display }}
                        </li>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}