{% extends "base.html" %}

{% block content %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <div class=" w3l-login-form">
        <h2>Login Here</h2>
        <form action="#" method="POST">
            {% csrf_token %}    <!--requirement of django; here for security-->

            <!--username field-->
            <div class=" w3l-form-group">
                <div class="group">
                    <i class="material-icons icon">account_circle</i>
                    <input id="id_username" type="text" placeholder="Username" name="username" required/>
                </div>
            </div>

            <!--password field-->
            <div class=" w3l-form-group">
                <div class="group">
                    <i class="material-icons icon">lock_open</i>
                    <input id="id_password" type="password" placeholder="Password" name="password" required/>
                </div>
            </div>

            <button type="submit" style="margin-top: 10%">Login</button>    <!--submit button-->
        </form>
        <p class=" w3l-register-p">Don't have an account?<a href="{% url 'login' %}" class="register"> Register</a></p>
    </div>
{% endblock %}